{# Hauptnavigation der Anwendung #}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <h1><a class="navbar-brand" href="/">Inventarium</a></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Übersicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_item">Artikel hinzufügen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Einstellungen</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
